@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");
@font-face {
  font-family: 'TT Lakes Compressed';
  src: url('../fonts/TTLakesCompressed-Regular.eot');
  src: local('TT Lakes Compressed Regular'), local('TTLakesCompressed-Regular'),
      url('../fonts/TTLakesCompressed-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCompressed-Regular.woff') format('woff'),
      url('../fonts/TTLakesCompressed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TT Lakes Condensed';
  src: url('../fonts/TTLakesCondensed-DemiBold.eot');
  src: local('TT Lakes Condensed DemiBold'), local('TTLakesCondensed-DemiBold'),
      url('../fonts/TTLakesCondensed-DemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/TTLakesCondensed-DemiBold.woff') format('woff'),
      url('../fonts/TTLakesCondensed-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: #F6F6F6;
  font-family: 'TT Lakes Condensed';
  /* font-family: "Roboto"; */
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  60% {
    transform: translateX(0.65rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}
@keyframes BtnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes waviy {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
.header {
  width: 100%;
  height: 8.8rem;
  background-color: #ffffff;
  margin-bottom: 24px;
}
.header__pos {
  display: flex;
  justify-content: space-between;
  height: 8.8rem;
}
.header__pos-left {
  display: flex;
  align-items: center;
  height: 8.8rem;
}
.header__pos-right {
  display: flex;
  align-items: center;
  height: 8.8rem;
}
.header__burger {
  margin-right: 10px;
  margin-left: 5px;
}
.header__checkstatus {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.header__checkstatus p {
  display: none;
  margin-right: 8px;
  font-size: 16px;
}
.header__repair {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.header__repair p {
  display: none;
  margin-right: 8px;
  font-size: 16px;
}
.header__logo {
  margin-right: 16px;
}
.header__divider {
  width: 2px;
  height: 32px;
}
.header__divider-right {
  display: none;
}

.main {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
.main__title {
  margin: 0;
  margin-bottom: 24px;
  padding-left: 24px;
  width: 304px;
  height: 40px;
  border-left: 3px solid #41F6D7;
  display: flex;
  align-items: center;
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
}
.main__list-menu {
  display: flex;
  margin-bottom: 24px;
  padding: 0px 16px;
  flex-shrink: 0;
  width: 400%;
}
.main__list-menu span {
  font-size: 16px;
  padding: 4px 10px 6px 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-right: 1rem;
}
.main__list-menu span:last-child {
  margin-right: 0;
}
.main__list-menu span:nth-child(1) {
  border: 1px solid #41F6D7;
  border-radius: 10px;
}
.main__list-menu_1120 {
  display: none;
  padding-left: 36.5px;
}
.main__list-menu_1120 span {
  font-size: 16px;
  padding: 4px 10px 6px 14px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}
.main__text {
  margin-bottom: 16px;
}
.main__text p {
  padding: 0px 16px;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}
.main__text_1120 {
  display: none;
}
.main__text_768 {
  display: none;
}
.main__btn-read {
  margin-bottom: 16px;
}
.main__img {
  background: url(../img/MG3223.png) no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: 400px;
}
.main__pos-text-img {
  width: 100%;
}

button {
  border: none;
  background-color: #ffffff;
}

.btn-menu {
  background: #ffffff;
}
.btn-menu img {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #ffffff;
}

.btn-read {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
  font-weight: bold;
}

.margin-right-16px {
  margin-right: 16px;
}

.display-none {
  display: none;
}

@media (min-width: 320px) {
  .btn-menu-768 {
    display: none;
  }
  .header__divider-768 {
    display: none;
  }
}
@media (min-width: 500px) {
  .header__divider-320 {
    display: none;
  }
  .header__divider-768 {
    display: inline-block;
  }
  .header__divider-right {
    display: inline-block;
  }
  .btn-menu-768 {
    display: inline-block;
  }
  .main {
    height: 46rem;
  }
  .main__list-menu {
    padding-left: 26px;
  }
  .main__img {
    width: 95%;
    object-fit: contain;
    min-height: 500px;
  }
  .main__text {
    width: 100%;
  }
  .main__pos-text-img {
    display: flex;
    flex-direction: row;
    height: 500px;
    padding-left: 12px;
  }
  .main__left {
    width: 50%;
  }
  .main__right {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .header__burger {
    margin-left: 20px;
    margin-right: 20px;
  }
  .header__divider-768 {
    margin-right: 25px;
  }
  .main__text_768 {
    display: inline-block;
  }
}
@media (min-width: 1120px) {
  .header {
    background-color: #F6F6F6;
    height: 18px;
    overflow: visible;
  }
  .header__pos-left {
    display: none;
  }
  .header__divider-right {
    display: none;
  }
  .header__checkstatus img {
    margin-right: 10px;
  }
  .header__checkstatus p {
    display: inline;
  }
  .header p {
    display: inline-block;
    font-family: 'TT Lakes Condensed';
  }
  .header img {
    background-color: #F6F6F6;
    margin-right: 10px;
  }
  .btn-menu {
    background-color: #F6F6F6;
  }
  .btn-menu-768 {
    display: none;
  }
  .main {
    height: 60rem;
  }
  .main__list-menu {
    display: flex;
    margin-bottom: 27px;
    padding-left: 36px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .main__list-menu span {
    font-size: 15.5px;
  }
  .main__list-menu_1120 {
    display: inline-block;
    margin-bottom: 15px;
  }
  .main__pos-text-img {
    padding-left: 24px;
  }
  .main__text_1120 {
    display: inline-block;
  }
  .main__text_768 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */